* {
  font-family: GigaSansBlack;
  font-weight: bold;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #332323, #b84141);
}

@font-face {
  font-family: GigaSansBlack;
  src: url(./fonts/giga-sans-black.otf);
}

.calc {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: minmax(100px, auto) repeat(5, 100px);
  min-height: 100vh;
}

button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  border: 4px solid #111;
  background-color: #111;
  color: #eee;
  transition-property: border;
  transition-duration: 400ms;
  transition-delay: 100ms;
  transition-timing-function: ease-in-out;
}

button:hover {
  border: #b84141 solid 4px;
}

.operador {
  background-color: #b84141;
  border: 4px solid #b84141;
  transition-property: color border;
  transition-duration: 400ms;
  transition-delay: 100ms;
  transition-timing-function: ease;
}

.operador:hover {
  border: 4px solid #111;
}

.twoSpaces {
  grid-column: span 2;
}

.tela {
  border-radius: 10px;
  background-color: #333;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
/* Display */
.previusOperand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.curentOperand {
  color: white;
  font-size: 2.5rem;
}
